.font2{
  position: absolute;
  width: 1000px;
  height: 114px;
  left: 220px;
  top: 40px;

  font-family: Harmattan;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 48px;
  color: #F5B719;
}
