body {
  background-image: url('https://i.imgur.com/zQlzAAg.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
}

h1 {
  color: lime;
  font-size: 3em;
  text-align: center;
  margin-bottom: 0.1mm;
}

h4{
  text-align: center;
}

p{
  line-height: 1cm;
  margin-left: 50px;
  background-color: #94FDF3;
  filter: blur();
  padding: 0.5cm;
  font-weight: bold;
  border-radius: 15px;
  margin-right: 500px;
}

h3{
  margin-left: 50px;
  color: #6FFF00;
}

ul{
  line-height: 0.7cm;
  margin-left: 50px;
  color: yellow;
  background-color: #94FDF3;
  opacity: 0.6;
  filter: blur();
  padding: 0.5cm;
  font-weight: bold;
  border-radius: 15px;
  margin-right: 900px;
}
