<!DOCTYPE html>
<html lang="en">
<head>
  <style media="screen">
    body{
      background-image: url('https://i.imgur.com/zQlzAAg.jpg');
      background-size: cover;
      background-position: center;
      position: relative;
      top: 0;
      bottom: 0;
      height: 100vh;
    }
    h1 {
      color: lime;
      font-size: 3em;
      text-align: center;
      margin-bottom: 0.1mm;
    }

    h2{
      color: lime;
      font-size: 3em;
      text-align: center;
      margin-bottom: 0.1mm;
    }

    h4{
      color: lime;
      text-align: center;
      text-align: center;
      margin-bottom: 0.1mm;
    }

    p{
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1cm;
      margin-left: 50px;
      background-color: #94FDF3;
      filter: blur();
      padding: 0.5cm;
      font-weight: bold;
      border-radius: 15px;
      margin-right: 500px;
    }

    h3{
      margin-left: 50px;
      color: #6FFF00;
    }

    ul{
      line-height: 0.7cm;
      margin-left: 50px;
      color: yellow;
      background-color: #94FDF3;
      opacity: 0.6;
      filter: blur();
      padding: 0.5cm;
      font-weight: bold;
      border-radius: 15px;
      margin-right: 900px;
    }
  </style>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="bg.css">
</head>
<body>
    <h1>Hello my name is {{ name }}</h1></center>
    <h4>and this is my very first website yuhuu</h4>
    <p>NPM : {{ npm }}
      <br>I am {{ age }} years old
      <br>Faculty : Computer Science
      <br>Major : Information System
      <br>Hobby : {{ hobby }}
      <br>About Me  : Super happy gurl but recently i really do gaze
      <br> emptily in silence as if I’ve lost my mind in a forest with no reason..
      <br><img src="https://i.imgur.com/2L2ybYy.jpg" title="This is me eating McSpicy!!" height="400"></img>
      <br> I DO LIKE MCSPICY FEED ME AND I'LL BE YOURSSSSSss
    </p>
    <center><h2>And these are my freinds!!!</h2></center>
      <p><img src="https://imgur.com/X9Gw2bQ.jpg" title="This is Moana!!" height="200"></img>
      <br>She is Shania Nabilah
      <br>NPM : 1706044175
      <br>She is 19 years old
      <br>Faculty : Computer Science
      <br>Major : Information System
      <br>Hobby :Watching Movies
      <br>About Her : She is an athlete. She likes too drive herself, alone.
      <br><a href="https://ppw-f-shania.herokuapp.com">Click here to visit her website</a>
    </p>
      <p><img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/41052035_1727221247389172_3936720410233536512_n.jpg?_nc_cat=0&oh=0374439335b325baaba297c6394dcc57&oe=5BEF5425" title="This is Nabilla!!" height="200"></img>
      <br>She is Nabilla Yuli Safira
      <br>NPM : 1706044175
      <br>She is 19 years old
      <br>Faculty : Computer Science
      <br>Major : Information System
      <br>Hobby :Travelling or wandering and also listening to pop music
      <br>About Her : She likes to work hard. She is such a nice person and she likes to have fun!
      <br><a href="https://ppw-f-NabillaYuliShafira1.herokuapp.com">Click here to visit fer website</a>
      </p>
    <h3>If you like to know me, go follow me on :</h3>
    <ul>
      <li><a href="https://twitter.com/raniprttw">Twitter</a></li>
      <li><a href="https://www.instagram.com/raniprtw/?hl=id">Instagram</a></li>
      <li><a href="www.linkedin.com/in/maharani-eka-pratiwi">LinkedIn</a></li>
    </ul>
</body>
</html>
