<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <title>About Me</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous">
    </script>
  </head>
  <body background="https://i.imgur.com/RhldHul.jpg">
    {%include 'navbar.html'%}
    <style media="screen">

    h1{
      margin-top: 80px;
      font-family: Harmattan;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 54px;
      text-align: center;
    }

    body{
      background-size: cover;
      background-position: center;
      position: relative;
      top: 0;
      bottom: 0;
      height: 100vh;
    }

    </style>

    <div class="container">
      <div class="row">
        <h1>THANK YOU FOR COMING BY</h1>
      </div>
      <div class="row">
          <div class="col-xl-6" style="height:20px"></div>
      </div>
      <div class="row">
          <div class="col-xl-6" style=" background: rgba(255, 255, 255, 0.7);height:20px"></div>
          <div class="col-xl-6" style=" background: rgba(255, 255, 255, 0.7); height:20px"></div>
      </div>
      <div class="row">
          <div class="col-xl-2" style=" background: rgba(255, 255, 255, 0.7); height:200px"><td class="align-middle">
            <img src="https://i.imgur.com/GE6Szso.jpg" title="e with my aunt and uncle and also grandma" height ="180"></td></tr>
          </div>
          <div class="col-xl-4" style=" background: rgba(255, 255, 255, 0.7); height:200px">
            I was born on fourth of December, 1999 and <br> named Maharani Eka Pratiwi. I was a curious kid,
            <br> so I started to enter TK when i was just 3 years <br> old. <br><br>(Ps: They are my aunt, uncle, and grandma)
          </div>
          <div class="col-xl-2" style=" background: rgba(255, 255, 255, 0.7); height:200px">
            <img src="https://i.imgur.com/OCBZPnq.jpg" title="In someone's wedding" height="180">
          </div>
          <div class="col-xl-4" style=" background: rgba(255, 255, 255, 0.7); height:200px">
            When I was in elementary school, I can tell you<br>that I was always on the top of the class,<br>
            regardless of my age. I am the type of person<br>who learn by hearing and watching. And then I<br>
            greduated and entered public school for the first time.
          </div>
      </div>
      <div class="row">
          <div class="col-xl-3" style=" background: rgba(255, 255, 255, 0.7); height:200px">
            In junior highschool, I was on<br>billingual class. I also was a member<br>of scout girl where I got tons of
            <br>experience. I also got to know my<br>bestfriend from junior highschool.
          </div>
          <div class="col-xl-2" style=" background: rgba(255, 255, 255, 0.7); height:200px">
            <img src="https://i.imgur.com/DYi6mFc.jpg" title="Back in Junir High School" height="180">
          </div>
          <div class="col-xl-4" style=" background: rgba(255, 255, 255, 0.7); height:200px">
            When I was on senior highschool, I was<br>busy as student council’s secretary.<br>I wasn’t well prepared for the SNMPTN.
            <br>So, on the last year of my senior highschool,<br>I spent my entire semester in Inten and it<br>delivered me to pass  SBMPTN
          </div>
          <div class="col-xl-3" style=" background: rgba(255, 255, 255, 0.7); height:200px">
            <img src="https://i.imgur.com/TIpMxNy.jpg" title="Me, right now" height="180">
          </div>
      </div>
    </div>

  </body>
</html>
