<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <title>Contacts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
  </head>
  <body background="https://i.imgur.com/1rueUm0.jpg">
    {%include 'navbar.html'%}
    <style media="screen">

    body{
       background-size: cover;
       background-position: center;
       position: relative;
       top: 0;
       bottom: 0;
       height: 100vh;
     }

    h1{
      position: absolute;
      left: 110px;
      top: 35px;

      font-family: Harmattan;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 54px;

      color: #000000;
    }


    </style>

    <div class="container">
      <div class="row" style="height:100px"></div>
      <div class="row">
        <div class="col-xl-12">
          <h1>YOU MAY CONTACT ME THROUGH</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12" style="height:150px"></div>
      </div>
      <div class="row" margin-top="8%">
        <div class="col-xl-1" height="100"></div>
        <div class="col-xl-2" height="200">
          <img src="https://i.imgur.com/3L8B0nA.png" height="100" float="left">
        </div>
        <div class="col-xl-2"><br><font size="5"><b>085219383841</b></font></div>
      </div>
      <div class="row">
        <div class="col-xl-12" style="height:30px"></div>
      </div>
      <div class="row">
        <div class="col-xl-1" height="200"></div>
        <div class="col-xl-2" height="200">
          <img src="https://i.imgur.com/mhbHGRw.png" height="100" float="left">
        </div>
        <div class="col-xl-4"><font size="4">
          <b>Regarding :</b><br>Education : maharani.eka@ui.ac.id <br> Works: maharaniekaprtw@gmail.com
        </font></div>
      </div>
      <div class="row">
        <div class="col-xl-12" style="height:30px"></div>
      </div>
      <div class="row">
      <div class="col-xl-1"></div>
        <div class="col-xl-2" height="200">
          <a href="https://linkedin.com/in/maharani-eka-pratiwi"><img src="https://i.imgur.com/4kVVJdD.png" height="100" title="Linkedin"></a>
        </div>
        <div class="col-xl-1"></div>
        <div class="col-xl-2" height="200">
          <a href="https://www.instagram.com/raniprtw/?hl=id"><img src="https://i.imgur.com/HF6J2rK.png" height="100" title="Instagram"></a>
        </div>
        <div class="col-xl-1"></div>
        <div class="col-xl-2" height="200">
          <a href="https://twitter.com/raniprttw"><img src="https://i.imgur.com/L9vebp0.png" height="100" title="Twitter"></a>
        </div>
        <div class="col-xl-1"></div>
      </div>
    </div>

  </body>
</html>
