<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <title>Curriculum Vitae</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body background="https://i.imgur.com/esYLx6b.jpg">
    {%include 'navbar.html'%}
    <style>

    body{
     background-size: cover;
     background-position: center;
     position: relative;
     top: 0;
     bottom: 0;
     height: 100vh;
   }

    .pict{
      position: relative;
      top: 40px;
    }

    h1{
      margin-top: 80px;
      font-family: Harmattan;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 48px;
      text-align: center;
      color: white;
    }



    </style>

    <div class="container">
      <div class="row" style="height:10px"></div>
      <div class="row">
        <div class="col">
        <h1> MY CURRICULUM VITAE</h1>
        </div>
      </div>
      <div class="pict">
        <p><center><img src="https://i.imgur.com/0N27ryA.png" height="1100" weight="1500"></img></center></p>
      </div>
    </div>
  </body>
</html>
