<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <title>My Experiences</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous">
    </script>
  </head>
  <body background="https://i.imgur.com/ibewH0l.jpg">
    {%include 'navbar.html'%}
    <style media="screen">

    body{
      background-size: cover;
      background-position: center;
      position: relative;
      top: 0;
      bottom: 0;
      height: 100vh;
    }

    h1{
      width: 500px;
      height: 50%;

      margin-top: 20%;
      font-family: Harmattan;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 54px;

      color: #000000;
    }

    </style>
    <div class="container">
      <div class="col-xl-4" style="height:50px">
        <center><h1>MY EXPERIENCES</h1></center>
      </div>
      <div class="col" style="height:30px"></div>
    </div>
    <div class="container">
      <div class="row">
          <div class="col-xl-6" style="background: rgba(137, 207, 240, 0.7);height:20px"></div>
          <div class="col-xl-6" style="background: rgba(137, 207, 240, 0.7); height:20px"></div>
      </div>
      <div class="row">
        <div class="col-xl-6" style="background: rgba(137, 207, 240, 0.7); height:130px">
          <img src="https://i.imgur.com/K2t1ny9.png" height="110" align="left" style="margin-right: 10px">
          <br><b><font size="5">Open House Fasilkom 2017</font></b>
          <br>Staff of Public Relation
        </div>
        <div class="col-xl-6" style="background: rgba(137, 207, 240, 0.7); height:130px">
          <img src="https://i.imgur.com/MqAGmxO.png" height="110" align="left" style="margin-right: 10px">
          <br><b><font size="5">Compfest X</font></b><br>Staff of Offline Marketing
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6" style="background: rgba(137, 207, 240, 0.7); height:130px">
          <img src="https://i.imgur.com/OdroAF6.png" height="110" align="left" style="margin-right: 10px">
          <br><b><font size="5">Computer Science League</font></b><br>Staff of Public Relation, Publication, <br> and Documentation
        </div>
        <div class="col-xl-6" style="background: rgba(137, 207, 240, 0.7); height:130px">
          <img src="https://i.imgur.com/uHyhjOG.png" height="110" align="left" style="margin-right: 10px">
          <br><b><font size="5">Wisuda Genap 2018</font></b><br>Staff of Liaison Office
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6" style="background: rgba(137, 207, 240, 0.7); height:130px">
          <img src="https://i.imgur.com/SMNGib5.png" height="110" align="left" style="margin-right: 10px">
          <br><b><font size="5">Open Class RISTEK 2017</font></b><br>Data Science
        </div>
        <div class="col-xl-6" style="background: rgba(137, 207, 240, 0.7); height:130px">
          <img src="https://i.imgur.com/QWVnzKj.png" height="110" align="left" style="margin-right: 10px">
          <br><b><font size="5">Universiade 2018</font></b><br>Staff of Futsal Division
        </div>
      </div>
    </div>
  </body>
</html>
