<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <title>My Gallery</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous">
    </script>
  </head>
  <body background="https://i.imgur.com/N5gLmFa.jpg">
    {%include 'navbar.html'%}
    <style media="screen">

    body{
      background-size: cover;
      background-position: center;
      position: relative;
      top: 0;
      bottom: 0;
      height: 100vh;
    }

    img{
      border-radius: 5%;
    }

    </style>

    <div class="container text-center">
      <div class="row">
        <div class="col-xl-12 text-center"style="top: 120px">
          <h1>MY JOURNEY THROUGH<br>EVERY COMITTEE</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12" style="height:200px"></div>
      </div>
      <div class="row">
        <div class="col-lg-3" style="background: rgba(137, 207, 240, 0.7); height:20px"></div>
        <div class="col-lg-3" style="background: rgba(137, 207, 240, 0.7); height:20px"></div>
        <div class="col-lg-3" style="background: rgba(137, 207, 240, 0.7); height:20px"></div>
        <div class="col-lg-3" style="background: rgba(137, 207, 240, 0.7); height:20px"></div>
      </div>
      <div class="row">
        <div class="col-lg-3" style="background: rgba(137, 207, 240, 0.7); height:175px">
          <img src="https://i.imgur.com/nqqSLBf.jpg" height="150" title="OHFasilkom">
        </div>
        <div class="col-lg-3" style="background: rgba(137, 207, 240, 0.7); height:175px">
          <img src="https://i.imgur.com/2bJC2F6.jpg" height="150" title="CSLeague2018">
        </div>
        <div class="col-lg-3" style="background: rgba(137, 207, 240, 0.7); height:175px">
          <img src="https://i.imgur.com/3GY1ZqS.jpg" height="150" title="Compfest X">
        </div>
        <div class="col-lg-3" style="background: rgba(137, 207, 240, 0.7); height:175px">
          <img src="https://i.imgur.com/kGv2wdW.jpg" height="150" title="Wisgen">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3" style="background: rgba(137, 207, 240, 0.7); height:175px">
          <img src="https://i.imgur.com/taBjTPF.jpg" height="150" title="Wisgen">
        </div>
        <div class="col-lg-3" style="background: rgba(137, 207, 240, 0.7); height:175px">
          <img src="https://i.imgur.com/u4YUx9Y.jpg" height="150" title="Compfest X">
        </div>
        <div class="col-lg-3" style="background: rgba(137, 207, 240, 0.7); height:175px">
          <img src="https://i.imgur.com/Phybsr8.jpg" height="150" title="Compfest X">
        </div>
        <div class="col-lg-3" style="background: rgba(137, 207, 240, 0.7); height:175px">
          <img src="https://i.imgur.com/xk5KpoU.jpg" height="150" title="CSLeague">
        </div>
      </div>
    </div>

  </body>
</html>
