<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous">
    </script>
    <title>Guestbook</title>
  </head>
  <body background="https://i.imgur.com/OUUWxnY.jpg">
    {%include 'navbar.html'%}
    <style media="screen">

      body{
        background-size: cover;
        background-position: center;
        position: relative;
        top: 0;
        bottom: 0;
        height: 100vh;
      }

      form{
        margin-left: 15%;
        margin-top: 8%;
      }

      h1{
        margin-top: 100px;
        font-family: Harmattan;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 48px;
        text-align: center;
      }

      .form-group{
        margin-right: 15%;
      }

    </style>

      <div class="container">
        <div class="row" >
          <h1>THANK YOU FOR COMING BY</h1>
        </div>
          <form>
            <div class="form-group">
              <label for="usr"><b>Name :</b></label>
              <input type="text" class="form-control" id="usr">
            </div>
            <div class="form-group">
              <label for="date"><b>Date :</b></label>
              <input type="date" class="form-control" id="date">
            </div>
            <div class="form-group">
              <label for="email"><b>E-Mail :</b></label>
              <input type="text" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="sub"><b>Subject :</b></label>
                <input type="text" class="form-control" id="sub">
            </div>
            <div class="form-group">
              <label for="comment"><b>Message :</b></label>
              <textarea class="form-control" rows="5" id="comment"></textarea>
            </div>
          </form>
        </div>
      </div>

  </body>
</html>
