<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/nootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="main.css">
    <title>Hello</title>
  </head>

  <body background="https://i.imgur.com/AeqxFCA.jpg" class = "container-fluid" >
    {%include 'navbar.html'%}
    <style media="screen">

    body{
      width: 100%;
      background-size: cover;
      background-position: center;
      position: relative;
      top: 0;
      bottom: 0;
      height: 100vh;
    }

    .jumbotron{
      margin-top: 2%;
      width: 100%;
      background-color: #89CFF0;
    }
    .jumbotron h1{
      background-color: #89CFF0;
      font-family: Harmattan;
      font-size: 64px;

      color: #F2F2F2;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    @media (max-width: 1024px){
      .jumbotron{
        margin-top: 20%;
        margin-right: 10%;
        width: 100%;
        background-color: #89CFF0;
        }
      .jumbotron h1{
        font-size: 36px;
      }
    }

    @media (max-width: 375px){
      .jumbotron{
        margin-top: 20%;
        margin-right: 10%;
        width: 100%;
        background-color: #89CFF0;
        }
      .jumbotron h1{
        font-size: 20px;
      }
    }

    </style>
  </body>
  <div class="container">
    <div class="jumbotron">
      <h1>WELCOME TO <br>MY WEBSITE</h1>
    </div>
  </div>
</html>
