.font2{
  position: absolute;
  width: 1000px;
  height: 114px;
  left: 220px;

  margin-top: 10%;

  font-family: Harmattan;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 48px;
  color: #F5B719;
}

img:hover{
  background: rgba(214, 48, 49, 0.7);
}
