<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <title>Movies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous">
    </script>
  </head>
  <body background="https://previews.123rf.com/images/yamabikay/yamabikay1604/yamabikay160400055/55032640-light-blue-color-paper-texture-seamless-square-texture-.jpg">
    {%include 'navbar.html'%}
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <h1>This is my recomendation</h1>
        </div>
        <div class="card-group">
  <div class="card">
    <img class="card-img-top" src="https://www.cgv.id/uploads/movie/compressed/MOV3262.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Howl's Moving Castle</h5>
      <p class="card-text">Howl's Moving Castle (Japanese: ハウルの動く城 Hepburn: Hauru no Ugoku Shiro) is a 2004 Japanese animated fantasy film written and directed by Hayao Miyazaki. The film is based on the novel of the same name by British author Diana Wynne Jones.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
    <div class="card">
      <img class="card-img-top" src="https://www.cgv.id/uploads/movie/compressed/MOV3267.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Kiki's Deliery Service</h5>
        <p class="card-text">Kiki's Delivery Service (Japanese: 魔女の宅急便 Hepburn: Majo no Takkyūbin) is a 1989 Japanese animated coming-of-age fantasy film written, produced, and directed by Hayao Miyazaki as an adaptation of the 1985 novel of the same name by Eiko Kadono.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="http://lh4.ggpht.com/_rmBhLDZkCXs/TBt6lgiizMI/AAAAAAAAAmI/Pk20V7ZSpX4/meuamigototoro%5B5%5D.jpg?imgmax=800" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">My Neighbor Totoro</h5>
        <p class="card-text">My Neighbor Totoro (Japanese: となりのトトロ Hepburn: Tonari no Totoro) is a 1988 Japanese animated fantasy film written and directed by Hayao Miyazaki and animated by Studio Ghibli for Tokuma Shoten.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    </div>
      </div>
    </div>
  </body>
</html>
